@font-face{font-family:"futura_mdcn_btmedium";
src:url("fonts/futura-mdcn-bt-medium/bitstream_-_futura_mdcn_bt_medium-webfont.eot");
src:url("fonts/futura-mdcn-bt-medium/bitstream_-_futura_mdcn_bt_medium-webfont.eot?#iefix") format("embedded-opentype"),
 url("fonts/futura-mdcn-bt-medium/bitstream_-_futura_mdcn_bt_medium-webfont.woff2") format("woff2"),
 url("fonts/futura-mdcn-bt-medium/bitstream_-_futura_mdcn_bt_medium-webfont.woff") format("woff"),
 url("fonts/futura-mdcn-bt-medium/bitstream_-_futura_mdcn_bt_medium-webfont.ttf") format("truetype"),
 url("fonts/futura-mdcn-bt-medium/bitstream_-_futura_mdcn_bt_medium-webfont.svg#futura_mdcn_btmedium") format("svg");
font-weight:normal;
font-style:normal;
}
@font-face{font-family:"futura_md_btbold";
src:url("fonts/futura-md-bt-bold/bitstream_-_futura_md_bt_bold-webfont.eot");
src:url("fonts/futura-md-bt-bold/bitstream_-_futura_md_bt_bold-webfont.eot?#iefix") format("embedded-opentype"),
 url("fonts/futura-md-bt-bold/bitstream_-_futura_md_bt_bold-webfont.woff2") format("woff2"),
 url("fonts/futura-md-bt-bold/bitstream_-_futura_md_bt_bold-webfont.woff") format("woff"),
 url("fonts/futura-md-bt-bold/bitstream_-_futura_md_bt_bold-webfont.ttf") format("truetype"),
 url("fonts/futura-md-bt-bold/bitstream_-_futura_md_bt_bold-webfont.svg#futura_md_btbold") format("svg");
font-weight:normal;
font-style:normal;
}
@font-face{font-family:"futura_md_btmedium";
src:url("fonts/futura-md-bt-medium/bitstream_-_futura_md_bt_medium-webfont.eot");
src:url("fonts/futura-md-bt-medium/bitstream_-_futura_md_bt_medium-webfont.eot?#iefix") format("embedded-opentype"),
 url("fonts/futura-md-bt-medium/bitstream_-_futura_md_bt_medium-webfont.woff2") format("woff2"),
 url("fonts/futura-md-bt-medium/bitstream_-_futura_md_bt_medium-webfont.woff") format("woff"),
 url("fonts/futura-md-bt-medium/bitstream_-_futura_md_bt_medium-webfont.ttf") format("truetype"),
 url("fonts/futura-md-bt-medium/bitstream_-_futura_md_bt_medium-webfont.svg#futura_md_btmedium") format("svg");
font-weight:normal;
font-style:normal;
}

*{margin:0; padding:0; border:none;}
aside,footer,header,main,nav,section{display:block}
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */
/** 1. Set default font family to sans-serif. 2. Prevent iOS and IE text size adjust after device orientation change, without disabling user zoom. **/
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}
body{
	font-family:"futura_md_btmedium", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#fff;
}
/** current typekit fonts 2016-04-12   .tk-futura-pt{font-family:"futura-pt",sans-serif;} .tk-futura-pt-condensed{font-family:"futura-pt-condensed",sans-serif;} **/
.futura-md-bt-bold{font-family:"futura_md_btbold", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;}
.futura-md-btmedium{font-family:"futura_md_btmedium", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;}
.futura-mdcn-btmedium{font-family:"futura_mdcn_btmedium", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;}

/** Remove the gray background color from active links in IE 10. **/
a{background-color:transparent}
a:active,a:hover{outline:0}
b,strong{font-weight: bold;}
h1{font-size:4em}
small{font-size:80%}
img{border:0}
svg:not(:root){overflow: hidden}



.content{
	font-family:"futura_md_btmedium", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color:#25305d;
	/** background-color:#e7ede4; **/
	/** background-color:#000; **/
	/** put this into place prior to going live
	background-color:#e7ede4; background-color:#25305d; background-color:#6cc8c5;
	**/
}
h1{
	letter-spacing:3px; font-weight:500;
	font-family:"futura_mdcn_btmedium", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
h2,h3,h4,h5,h6{font-family:"futura_mdcn_btmedium", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;}
h2{
	margin-top:1.5em;
	font-size:2.75em;
	line-height:80px;
	text-align:left;
	min-height:80px;
	font-weight:700;
	text-transform:uppercase;
	padding-left:0;
	background-repeat:no-repeat;
	background-position:5% 0;
}
.h2-icon{
	display:block;
	padding-left:150px;
}
h3{
	margin-bottom:.5em;
	font-weight:500; 
	font-size:2.5em; 
	letter-spacing:2px;
	position:relative;
}
p{
	font-family:"futura_md_btmedium", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:2em; 
	font-weight:300;
	padding-top:.5em;
	margin-bottom:.5em;
}
ul{
	list-style-type:none;
}
a{
	text-decoration:none;
	color:#fff;
}
aside{
	position:fixed;
	width:15%;
	padding-top:-45px;
	height:100%; 
	background-color:#25305d;
}
header{
	background-color:#e7ede4; 
	height:45px;
}
footer{
	text-align:center;
}
#wwc-about .content-list a{
	color:#df5530;
}
section{
	/** padding-bottom:4em; **/
	border-bottom:4px solid #fff;
}
section#wwc-blogposts,section#wwc-promote-work,section#wwc-about,section#wwc-map{
	border-bottom:none;
}
#wwc-open-data h2{background-image:url("../img/icons/icon-04a.png");}
#wwc-define-goals h2{background-image:url("../img/icons/icon-05a.png");}
#wwc-engage-stakeholders h2{background-image:url("../img/icons/icon-03a.png");}
#wwc-craft-policy h2{background-image:url("../img/icons/icon-02a.png");}
#wwc-implement h2{background-image:url("../img/icons/icon-00a.png");}
#wwc-promote-work h2{background-image:url("../img/icons/icon-06a.png");}
#wwc-about h2{background-image:url("../img/icons/icon-04a.png");}
#wwc-map{
	padding-left:2em;
	padding-right:2em;
}
#logo{
	/** 106x120 **/  /** sprite-sf-wwc-logos.png **/
	background:url("../img/sunlight-foundation-wwc-logo-106x120.png") 50% 50% no-repeat; 
	display:block; 
	text-indent:-9999px;
	height:200px;
}
/** this isn't supposed to be on hover, supposed to be when user is at top of document...make another sprite and fix this!!! **/
#logo:hover{background-image:url("../img/sunlight-foundation-wwc-logo-red-106x120.png");}
nav button{display:none;} /** hide in desktop **/
.nav a{
	font-weight:300;
	font-size:0.85em;
	letter-spacing:2px;
	font-family:"futura_mdcn_btmedium", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color:#fff;
	text-transform:uppercase;
	text-indent:.75em;
	line-height:2.5;
	display:block;
	position:relative;
	z-index:200;
}
.nav a:before{
	left:100%; 
	z-index:100;
	top:0;
	position:absolute;
	border:solid transparent;
	content:"";
	height:0;
	width:0;
	pointer-events:none;
}
.nav a:hover{
	background-color:#181637;
	color:#df5530;
}
.nav a:hover:before{
	border-left-color:#181637;
	border-width:17px;
}
.maincontent{
	margin-left:15%;
	width:85%;
	background-color:#6cc8c5;

}
/** totally fix this with this sprite...unnecessary images = more http requests **/
.wwc-logo-headliner{
	/** width for containment....may not be needed... **/
	height:116px;
	max-width:700px;
	margin-left:auto;
	margin-right:auto;
	background:url("../img/logo-split.png") 455px 0 no-repeat;
}
.wwc-logo{
	display:block;
	height:116px;
	background-repeat:no-repeat;
	background-position:0 0;
	text-indent:-9999px;
	float:left;
}
#wwc-logo-wwc{
	background-image:url("../img/what-works-cities-logotype.png");
	width:448px;
}
#wwc-logo-sf{
	width:180px;
	background-image:url("../img/sunlight-foundation-logotype.png");
	margin-left:20px;
}
footer li a{
	color:#df5530; 
	font-size:2em;
}

/** utility classes **/
.clearboth{
	clear:both; 
	float:none;
}
.clearleft{
	clear:left; 
	float:none;
}
.clearright{
	clear:right; 
	float:none;
}

#wwc-first{
	text-align:center;
	background:url("../img/bg-section-first.png") 50% 0 no-repeat;
	padding-top:14em;
}
#see-great-work{
	font-weight:600;
	margin:4em auto;
	position:relative; 
	display:block; 
	color:#df5530; 
	border:4px solid #df5530; 
	line-height:2.5;
	width:30%;
	text-transform:uppercase;
}
#see-great-work:before{
	content:"";
	position:absolute;
	z-index:100;
	left:43%;
	top:100%;
	height:0; 
	width:0;
	border:30px solid rgba(223, 85, 48, 0);
	border-top-color: #df5530;
}
#see-great-work:hover{
	color:#402820; 
	border-color:#402820;
}
#see-great-work:hover:before{
	border-top-color:#402820;
}
.content-list{
	width:100%;
	position:relative;
}
.content-list p{
	margin-left:20%; 
	margin-right:10%;
}
.li-header{
	padding-top:30px;
	padding-left:20%;
	position:relative;
}
.li-header h3{
	/** height:58px; **/ /** 8px accounts for border 4px *2 **/
	margin-bottom:0;
}
.li-header:before{
	position:absolute;
	content:"";
	border:4px solid #df5530;
	height:50px;
	width:50px;
	left:150px;
	z-index:100;
}
.embedded-content{
	position:relative;
	background-color:#ffcb06;
	margin-left:auto;
	margin-right:auto;
	min-height:600px;
	width:100%;
	text-align:center;
	display:none;
}
.embedded-content:before{
	top:0;
	position:absolute; 
	content:""; 
	z-index:100;
	left:20%;
	width:0px; 
	height:0px; 
	border-left:30px solid transparent;
	border-right:30px solid transparent;
	border-top:30px solid #6cc8c5;
}
.embedded-google-doc{
	margin:8em auto;
	width:720px;
	height:500px;
	border:2px solid #df5530;
	padding:1px;
	background-color:#fff;
}
.ref-doc{
	width:60%;
	height:800px;
	max-height:800px;
	padding:1px;
	background-color:#fff;
	border:3px solid #000;
	margin:0 20%;
}
.ref-doc-link,.wwc-blogposts-read-more,.ref-doc-google-link{
	text-transform:uppercase;
	color:#df5530;
}
.ref-doc-link{font-family:"futura_md_btbold", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-left:20%; 
	display:block;
	margin-top:3.5em;
	margin-bottom:2.5em;
	font-weight:500;
	position:relative;
	height:20px;
}
.ref-doc-link span{
	position:relative; 
	padding-right:25px;
	font-size:20px;
	line-height:20px;
}
.ref-doc-link span:before{
	content:"";
	position:absolute;
	right:0;
	height:20px;
	width:20px;
	background:url("../img/arrow-right.png") 0 0 no-repeat;
	z-index:100;
}
/** you may not need this **/
.ref-doc-link:hover:before{
	background-color:#fff; 
	z-index:101;
}
.ref-doc-google-link{
	display:block;
	position:absolute; 
	top:2em;
	right:20%;
}

/** both will need :before + content:""; for adding arrow icons **/
footer li a{
	margin-bottom:30px;
	font-family:"futura_md_btbold", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
footer em{
	font-size:1.5em;
}
footer{
	padding-bottom:10em;
}
footer li{
	margin-top:1em; 
	margin-bottom:1em; 
	font-size:1em;
}
#wwc-blogposts h2{
	background-color:#25305d; 
	padding-left:1em;
}
#wwc-blogposts-all{
	margin-top:-68px; 
	margin-right:15px; 
	font-size:30px; 
	float:right; 
	display:block; 
	border:3px solid #df5530; 
	text-indent:0; 
	text-align:center; 
	color:#df5530; 
	line-height:30px;
	padding:10px 40px 10px 10px;
	position:relative;
}
#wwc-blogposts-all:before{
	content:"";
	position:absolute;
	width:20px;
	height:20px;
	background:url("../img/arrow-right-bg-darkblue.png") 0 0 no-repeat;
	right:10px;
	top:15px;
}
.section-box-feeds{
	clear:right;
	float:none;
	background-color:#fff; 
	padding:1em;
}
.section-box-tweets{
	padding:1em;
	clear:left; 
	float:none;
	/** twitter bg is not transparent....going to need to fix this!!! **/
	/** background-color:#25305d; **/
	background:#25305d url("../img/bg-stripe.png") 0 0 repeat;
	text-align:center;
}
#wrapper{
	height:190px;
}
#sftweets{
	height:100%;
}
#sftweets ul{
  height:100%;
  color:#fff;
  overflow:hidden;
}
#sftweets li{
	height:100%;
	text-align:left;
}
.user{
	margin-top:1em; 
	margin-bottom:1.5em; 
	width:100%; 
	height:30px; 
	line-height:30px;
}
.user a{
	display:block; 
	padding-left:20px; 
}
p.tweet,p.timePosted{
	padding:0 0 0 20px; 
}
p.tweet{
	margin:0;
	clear:left; 
	float:none;
	font-size:1.5em;
}
p.timePosted{
	margin:1.5em 0 0 0;
	font-size:1em;
	line-height:30px;
	height:30px;
}
#sftweets .user div{}
#sftweets .user div a{}
.user span{
	float:left; 
	display:block;
}
#sftweets .user div a span img{}
#sftweets .user div a span div{}
#sftweets ul li.tweet{}
#sftweets ul li.tweet a{}
#sftweets ul li.tweet span{}

#sftweets a{
	color:#fff; 
	text-decoration:none;
}
.user span img,.user span[data-scribe="element:verified_badge"]{
	display:none;
}
span[data-scribe="element:name"]{
	margin-right:1em;
}
span[data-scribe="element:screen_name"]{}
#sftweets a[data-scribe="element:url"]{
	color:#df5530;
	text-decoration:underline;
}
#sftweets a[data-scribe="element:url"] span + span{
	display:none;
}
.tweet a{
	color:#fff;
}
.timePosted a{
	color:#fff; 
	font-style:italic;
}
.interact{
	display:none;
}


/** javascript hooks **/
.trigger{
  /** background:url("http://bowdenweb.com/krs1/javascript/jquery/toggle/i/h2_trigger_a.gif") no-repeat;  **/
  /** background-image:url("plus-alt-32.png"); **/
}

/** feed display **/
span.read-more{}
#rss-feed-viewer{
	padding-top:2em;
	padding-bottom:2em;
	min-height:50px; /** height for bg color with floating elements **/
}
#rss-feed-viewer:first-child{
	margin-left:2%;
} /** alignment of three in a row **/
h3.wwc-blog-post-title{
	float:left; 
	width:32%;
	height:100%;
	font-size:1.25em; 
	padding-left:0;
	margin-right:1%;
	margin-bottom:0;
	font-weight:300;
	font-family:"futura_md_btmedium", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.wwc-blog-post-title a{
	color:#25305d; 
	font-weight:300; 	
	padding-left:.25em;
	padding-right:.25em;
	display:block;
}
.wwc-blogposts-read-more{
	font-weight:700; 
	position:relative;
	display:block;
	line-height:20px;
}
.wwc-blogposts-read-more span{
	position:relative;
	padding-right:25px;
}
.wwc-blogposts-read-more span:before{
	content:"";
	position:absolute;
	right:0;
	height:100%;
	width:20px;
	background:url("../img/arrow-right-bg-white.png") 0 50% no-repeat;
	z-index:100;
}
#sftweets .nojs{
	position:absolute; 
	top:20%; 
	left:45%;
}
.leaflet-popup-content-wrapper{
	border-radius:0;
}
.leaflet-popup-content-wrapper,.leaflet-popup-tip{
	background:#ffd44f;
	opacity:.85;
}
h1.map-pin-h1,.leaflet-container a.leaflet-popup-close-button,.leaflet-map-date{
	font-family:"Helvetica Neue", Arial, Helvetica, sans-serif;
}
h1.map-pin-h1{
	font-size:2em;
	color:#fff;
}
.leaflet-map-date{
	color:#fff;
	font-style:italic;
	font-size:1.5em;
}
.leaflet-popup-content{
	padding:1em;
}
.leaflet-container a.leaflet-popup-close-button{
	color:#df5530;
}
.leaflet-container a{
	color:#df5530; 
	font-size:1.5em;
}
/** css animations/transformations **/
/** :target animation of logo **/

/**
@-webkit-keyframes target {
  from { background:#ffffff; }
  50% { background:#ffffd3; }
  to { background:#ffffff; }
}
#logo:target{
border:10px solid #9f8b5e;    
-webkit-animation:target .5s linear; -moz-animation:target .5s linear; -animation:target .5s linear; 
-webkit-animation-duration:.5s; -moz-animation-duration:.5s; -animation-duration:.5s;
-webkit-animation-iteration-count:1; -moz-animation-iteration-count:1; -animation-iteration-count:1;
-webkit-animation-direction:linear; -moz-animation-direction:linear; -animation-direction:linear;
}

h2 a{height:80px; overflow:hidden;}


section h2{
-webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    transition: color 0.5s ease;
}
section h2{

	**/
  /**
    font-size: 50px;
    text-decoration: underline;
    color: #37aee4;
 **/ /** }
**/








@media screen and (max-width: 480px) {
	section{
		padding-left:0; 
		margin-left:0; 
		margin-right:0; 
		background-position:20px 0;
	}
	aside{
		position:relative; 
		width:100%;
		height:80px;
	}
	aside a{
		text-align:center;
	}
	h1{
		margin:0;
	}
	header,.branding-bar{
		max-height:45px; 
		overflow:hidden; 
		display:none;
	} /** hide branding bar **/  
    h1{
    	position:relative;
    } /** to get point down from top...this is not ideal...do not push to production **/

    #logo{
    	height:90px;
    	z-index:100; 
    	position:absolute; 
    	width:100%;
    	margin-left:-50%;
    	top:13px; 
    	left:50%;
    	background-position:50% 0;
    	background-image:url("../img/sunlight-foundation-wwc-logo-80x90.png");
    	z-index:100;  /** so you can click through **/
    }
    #logo:hover{
    	background-image:url("../img/sunlight-foundation-wwc-logo-red-80x90.png");
    }
    nav{
    	height:200px; /** rough estimate of screen height. **/
    	width:100%;
    	height:48px;
    	width:48px;
    	position:fixed;
    	right:20px;
    	top:12px;
    	z-index:2001; /** so you can click through; 2001 > 2000 set by leaflet.js **/
    	background-color:#25305d;
    }
    nav.expanded{
		min-height:300px;
    	width:100%;
    	right:0;
    	top:0;
    	padding-bottom:10px;
    	background:transparent url("../img/bg-nav-rwd-opacity.png") 0 0 repeat;
	}
    nav button{
    	cursor:pointer;
    	display:block;
    	height:48px; 
		width:48px; 
		position:absolute; 
		z-index:200; /** so you can click through **/
		background:url("../img/hamburglar-nav-white-048.png") 0 0 no-repeat;
    }
    nav.expanded button{
    	background:url("../img/bg-nav-rwd.png") 0 0 repeat;
    }
    nav button:focus{ /** default webkit outline:-webkit-focus-ring-color auto 5px **/
    	outline:none;
    }
	nav.expanded ul{
		outline:none;
		position:relative;
		right:auto;
		left:auto;
		width:90%;
		margin-left:auto;
		margin-right:auto;
		background-color:#25305d;
		background-image:none;
		padding-top:60px;

	} 
	
	nav li{
		display:none; /** hide on load **/
	}
	nav.expanded li{
		background-color:#25305d;
		display:block;
		width:100%;
	}
	nav.expanded a{
		text-align:left;
	}
	.nav a:before{
		border:none;
	}
	nav.expanded #mobiletoggle{
		display:block;
		cursor:pointer;
		width:30px;
		height:30px;
		position:absolute;
		top:30px;
		z-index:220;
		right:50px;
		background:url("../img/button-close-nav-rwd.png") 0 0 no-repeat;
	}
	.maincontent{
		width:100%; 
		margin-left:0;
	}
	#h1-main{
		font-size:1.5em; 
		padding-left:1em; 
		padding-right:1em;
	}
	#p-main{
		padding-left:1em; 
		padding-right:1em;
	}
	p{
		font-size:.85em; 
		padding-left:0; 
		padding-right:0;
	}
	#see-great-work{
		width:90%; 
		font-size:0.75em; 
		margin:2em auto 4em auto;
	}
	h2{
		background-position:10%;
		font-size:1.35em;
		padding-left:30%;
	}
	.h2-icon{
		padding-left:0;
	}
	.content-list{
		position:relative; 
	}
	.content-list p{
		line-height:200%;
		margin-left:0;
		margin-right:0;
	}
	.content-list p + p{
		padding-top:1em;
	}
	.content-list li{
		padding-left:6em;
	}
	li.li-header{
		
		padding-top:10px;
	}
	.li-header:before{
		top:15px; 
		left:12.5%; 
		height:25px; 
		width:25px;
	}
	.li-header h3{
		height:auto;
		font-size:1.15em;
		line-height:250%;
	}
	.ref-doc-link{
		margin-top:2em;
		margin-left:0;
	}
	.ref-doc-link span{
		font-size:.85em;
	}
	.trigger{
		padding-left:0;
	}
	p.timePosted{
		margin:.5em 0 0 0;
	}
	#wwc-blogposts h2{
		margin-left:0; 
		text-indent:0;
		line-height:1.5em;
		height:auto;
		padding-top:.5em;
		padding-bottom:.5em;
	}
	#wwc-blogposts,.blogposts-box{
		position:relative;
	}
	.blogposts-box{
		padding-bottom:5em;
	}
	#wwc-blogposts-all{
		float:none;
		clear:left;
		position:absolute; 
		bottom:1.75em;
		left:120px;
		font-size:1em;
	}
	#wwc-blogposts-all:before{
		background-image:url("../img/arrow-right-bg-white.png");
	}
	.section-box-feeds{
		min-height:200px;
	}
	.section-box-feeds h3{
		float:none; 
		clear:left; 
		width:100%	
	}
	#wwc-blogposts{
		background-color:#fff;
	}
	#rss-feed-viewer{
		padding-top:1em;
		padding-bottom:1em;
	}
	h3.wwc-blog-post-title{
		font-size:1.05em;
		margin-bottom:1.5em;
	}
	p.tweet{
		font-size:1em;
		font-weight:700;
	}
	#wwc-about .content-list:before{
		border-color:transparent;
	}

	.wwc-logo{
		height:56px;
		float:none;
		margin-left:auto; 
		margin-right:auto;
	}
	#wwc-logo-wwc{
		width:100%;
		background-image:url("../img/what-works-cities-logotype-w250.png");
		background-position:50% 50%;
	}
	#wwc-logo-sf{
		width:100%;
		background-image:url("../img/sunlight-foundation-logotype-h56.png");
		background-position:50% 50%;
	}
	footer li.wwc-logo-headliner{
		/** width for containment....may not be needed... **/
		height:112px;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:30px;
		background-image:none;
	}
	section#wwc-map div#mapid{
		height:300px !important;
	}
	#wwc-about{
		padding-bottom:0;
	}
	footer{
		padding-bottom:3em;
	}
	footer li em{
		font-size:.85em;
	}
	footer li a{
		padding-left:.25em;
		padding-right:.25em;
		width:90%;
		display:block;
		margin-left:auto;
		margin-right:auto;
		margin-bottom:10px; 
		font-size:1em;
	}
	.testclass{background-color:#fff !important;}


}