/***
 * Fonts
 */

 /** http://whatworkscities.bloomberg.org/content/themes/cities/style.css?ver=1.0.6  **/
 /**
@font-face {
  font-family: 'Futura Bk BT';
  src: url('fonts/Bitstream - Futura Bk BT Book.eot');
  src: url('fonts/Bitstream - Futura Bk BT Book.eot?#iefix') format('embedded-opentype'), **/  /* IE6-IE8 */  /** url('fonts/Bitstream - Futura Bk BT Book.woff') format('woff'), **/  /* Modern Browsers */ /** url('fonts/Bitstream - Futura Bk BT Book.ttf') format('truetype'), **/ /* Safari, Android, iOS */ /** /** url('fonts/Bitstream - Futura Bk BT Book.svg#b1c69dc361959c8748debfb44bd2016f') format('svg');
  font-style: normal;
  font-weight: 400;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
  /**
}
**/
/**
@font-face {
  font-family: 'Futura Md BT';
  src: url('fonts/Bitstream - Futura Md BT Bold.eot');
  src: url('fonts/Bitstream - Futura Md BT Bold.eot?#iefix') format('embedded-opentype'), **/  /* IE6-IE8 */  /** url('fonts/Bitstream - Futura Md BT Bold.woff') format('woff'), **/  /* Modern Browsers */ /** url('fonts/Bitstream - Futura Md BT Bold.ttf') format('truetype'), **/ /* Safari, Android, iOS */ /** url('fonts/Bitstream - Futura Md BT Bold.svg#3fc2bee58dbb778cde6c47c8792165c3') format('svg');
  font-style: normal;
  font-weight: 700;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
  /**
}

@font-face {
  font-family: 'Futura Md BT';
  src: url('fonts/Bitstream - Futura Md BT Medium.eot');
  src: url('fonts/Bitstream - Futura Md BT Medium.eot?#iefix') format('embedded-opentype'), **/  /* IE6-IE8 */  /** url('fonts/Bitstream - Futura Md BT Medium.woff') format('woff'), **/  /* Modern Browsers */ /** url('fonts/Bitstream - Futura Md BT Medium.ttf') format('truetype'), **/ /* Safari, Android, iOS */ /** url('fonts/Bitstream - Futura Md BT Medium.svg#75529023e858c4637d1c4cf773e7b6bc') format('svg');
  font-style: normal;
  font-weight: 400;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
  /**
}
@font-face {
  font-family: 'Futura Hv BT';
  src: url('fonts/Bitstream - Futura Hv BT Heavy.eot');
  src: url('fonts/Bitstream - Futura Hv BT Heavy.eot?#iefix') format('embedded-opentype'), **/  /* IE6-IE8 */  /** url('fonts/Bitstream - Futura Hv BT Heavy.woff') format('woff'), **/  /* Modern Browsers */ /** url('fonts/Bitstream - Futura Hv BT Heavy.ttf') format('truetype'), **/ /* Safari, Android, iOS */ /** url('fonts/Bitstream - Futura Hv BT Heavy.svg#abe28552df67548d04264d76071da393') format('svg');
  font-style: normal;
  font-weight: 400;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
  /**
}
@font-face {
  font-family: 'DIN Next LT Pro Medium Cond';
  src: url('fonts/DINNextLTPro-MediumCond.eot');
  src: url('fonts/DINNextLTPro-MediumCond.eot?#iefix') format('embedded-opentype'), **/  /* IE6-IE8 */  /** url('fonts/DINNextLTPro-MediumCond.woff') format('woff'), **/  /* Modern Browsers */ /** url('fonts/DINNextLTPro-MediumCond.ttf') format('truetype'), **/ /* Safari, Android, iOS */ /** url('fonts/DINNextLTPro-MediumCond.svg#9a11daff3c1c54fb43dd13a2696ea23e') format('svg');
  font-style: normal;
  font-weight: 400;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
  /**
}

@font-face {
  font-family: 'DIN Next LT Pro Bold Condensed';
  src: url('fonts/DINNextLTPro-BoldCondensed.eot');
  src: url('fonts/DINNextLTPro-BoldCondensed.eot?#iefix') format('embedded-opentype'), **/  /* IE6-IE8 */  /** url('fonts/DINNextLTPro-BoldCondensed.woff') format('woff'), **/  /* Modern Browsers */ /** url('fonts/DINNextLTPro-BoldCondensed.ttf') format('truetype'), **/ /* Safari, Android, iOS */ /** url('fonts/DINNextLTPro-BoldCondensed.svg#35aac03f26d6247334bc8f5710453b30') format('svg');
  font-style: normal;
  font-weight: 400;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
  /**
}

.refine-content .header .filter-title h4 a:hover {
  font-weight: 500;
  font-family: "Futura Md BT", Helevtica, Arial, sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  text-transform: upperCase;
  display: block;
  text-decoration: none;
}
**/




