/** 
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}

text-transform:capitalize;

/***
 * Fonts
 */

 /** http://whatworkscities.bloomberg.org/content/themes/cities/style.css?ver=1.0.6  **/
 /**
@font-face {
  font-family: 'Futura Bk BT';
  src: url('fonts/Bitstream - Futura Bk BT Book.eot');
  src: url('fonts/Bitstream - Futura Bk BT Book.eot?#iefix') format('embedded-opentype'), **/  /* IE6-IE8 */  /** url('fonts/Bitstream - Futura Bk BT Book.woff') format('woff'), **/  /* Modern Browsers */ /** url('fonts/Bitstream - Futura Bk BT Book.ttf') format('truetype'), **/ /* Safari, Android, iOS */ /** /** url('fonts/Bitstream - Futura Bk BT Book.svg#b1c69dc361959c8748debfb44bd2016f') format('svg');
  font-style: normal;
  font-weight: 400;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
  /**
}
**/
/**
@font-face {
  font-family: 'Futura Md BT';
  src: url('fonts/Bitstream - Futura Md BT Bold.eot');
  src: url('fonts/Bitstream - Futura Md BT Bold.eot?#iefix') format('embedded-opentype'), **/  /* IE6-IE8 */  /** url('fonts/Bitstream - Futura Md BT Bold.woff') format('woff'), **/  /* Modern Browsers */ /** url('fonts/Bitstream - Futura Md BT Bold.ttf') format('truetype'), **/ /* Safari, Android, iOS */ /** url('fonts/Bitstream - Futura Md BT Bold.svg#3fc2bee58dbb778cde6c47c8792165c3') format('svg');
  font-style: normal;
  font-weight: 700;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
  /**
}

@font-face {
  font-family: 'Futura Md BT';
  src: url('fonts/Bitstream - Futura Md BT Medium.eot');
  src: url('fonts/Bitstream - Futura Md BT Medium.eot?#iefix') format('embedded-opentype'), **/  /* IE6-IE8 */  /** url('fonts/Bitstream - Futura Md BT Medium.woff') format('woff'), **/  /* Modern Browsers */ /** url('fonts/Bitstream - Futura Md BT Medium.ttf') format('truetype'), **/ /* Safari, Android, iOS */ /** url('fonts/Bitstream - Futura Md BT Medium.svg#75529023e858c4637d1c4cf773e7b6bc') format('svg');
  font-style: normal;
  font-weight: 400;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
  /**
}
@font-face {
  font-family: 'Futura Hv BT';
  src: url('fonts/Bitstream - Futura Hv BT Heavy.eot');
  src: url('fonts/Bitstream - Futura Hv BT Heavy.eot?#iefix') format('embedded-opentype'), **/  /* IE6-IE8 */  /** url('fonts/Bitstream - Futura Hv BT Heavy.woff') format('woff'), **/  /* Modern Browsers */ /** url('fonts/Bitstream - Futura Hv BT Heavy.ttf') format('truetype'), **/ /* Safari, Android, iOS */ /** url('fonts/Bitstream - Futura Hv BT Heavy.svg#abe28552df67548d04264d76071da393') format('svg');
  font-style: normal;
  font-weight: 400;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
  /**
}
@font-face {
  font-family: 'DIN Next LT Pro Medium Cond';
  src: url('fonts/DINNextLTPro-MediumCond.eot');
  src: url('fonts/DINNextLTPro-MediumCond.eot?#iefix') format('embedded-opentype'), **/  /* IE6-IE8 */  /** url('fonts/DINNextLTPro-MediumCond.woff') format('woff'), **/  /* Modern Browsers */ /** url('fonts/DINNextLTPro-MediumCond.ttf') format('truetype'), **/ /* Safari, Android, iOS */ /** url('fonts/DINNextLTPro-MediumCond.svg#9a11daff3c1c54fb43dd13a2696ea23e') format('svg');
  font-style: normal;
  font-weight: 400;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
  /**
}

@font-face {
  font-family: 'DIN Next LT Pro Bold Condensed';
  src: url('fonts/DINNextLTPro-BoldCondensed.eot');
  src: url('fonts/DINNextLTPro-BoldCondensed.eot?#iefix') format('embedded-opentype'), **/  /* IE6-IE8 */  /** url('fonts/DINNextLTPro-BoldCondensed.woff') format('woff'), **/  /* Modern Browsers */ /** url('fonts/DINNextLTPro-BoldCondensed.ttf') format('truetype'), **/ /* Safari, Android, iOS */ /** url('fonts/DINNextLTPro-BoldCondensed.svg#35aac03f26d6247334bc8f5710453b30') format('svg');
  font-style: normal;
  font-weight: 400;
  
  /* IE9 Compat Modes */
  /* Legacy iOS */
  /**
}

.refine-content .header .filter-title h4 a:hover {
  font-weight: 500;
  font-family: "Futura Md BT", Helevtica, Arial, sans-serif;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  text-transform: upperCase;
  display: block;
  text-decoration: none;
}
**/





*{margin:0; padding:0; border:none;}

html{}
body{
	color:#fff;
}
.content{
	font-family: "futura-pt", sans-serif;
	background-color:#25305d;
	/** background-color:#000; **/
	/** put this into place prior to going live
	background-color:#e7ede4;
	**/
}
h1,h2,h3,h4,h5,h6{
	font-family: "futura-pt-condensed", sans-serif;
}
h2{
	margin-top:1.5em; 
	font-size:2.75em;
	text-align:left;
	height:100px;
	text-transform:uppercase;
}
h3{
	margin-bottom:.5em;
	font-weight:800; 
	font-size:2.5em; 
	letter-spacing:2px;
	position:relative;
}
p{
	font-size:2.2em; 
	font-weight:300;
	margin-bottom:.5em;
}
ul{
	list-style-type:none;
}
a{
	text-decoration:none;
	color:#fff;
}
aside{
	position:fixed;
	width:15%;
	height:100%; 
	background-color:#25305d;

}
header{
	background-color:#e7ede4; 
	height:45px;
}
footer{text-align:center;}



/** gutters **/
section,footer{margin-left:2em; margin-right:4em; /** max-width:1500px; **/}
section{padding-left:100px; }
iframe{
	width:90%;
	height:80%;
	border:1px solid #000;
	margin:auto;
}
section{
	/** background:url("i/wwc-icon-filler-64x72.png") 0 0 no-repeat; **/
	background:url("i/wwc-icon-filler-68x80.png") 0 0 no-repeat; 
	padding-bottom:4em;
	border-bottom:4px solid #fff;
}
/** logo desktop dimensions width:106px; height:121px;  **/
#logo{
	background:url("i/wwc-icon.png") 50% 50% no-repeat; 
	display:block; 
	text-indent:-9999px;
	height:200px;
}
.nav a{
	font-weight:300;
	letter-spacing:1px;
	font-family: "futura-pt-condensed", sans-serif;
	color:#fff;
	text-transform:uppercase;
	text-indent:1.5em;
	line-height:2.5;
	display:block;
	position:relative;
}
.nav a:before{
	left:100%; 
	z-index:100;
	top:0;
	position:absolute;
	border:solid transparent;
	content:"";
	height:0;
	width:0;
	pointer-events:none;
}
.nav a:hover{
	background-color:#181637; 
	color:#a44238;
}
.nav a:hover:before{
	border-left-color:#181637;
	border-width:20px;
}
.maincontent{
	width:85%;
	margin-left:15%;
	background-color:#6cc8c5;

}
.wwc-logo-headliner{
	outline:1px dotted #000;
	/** width for containment....may not be needed... **/
	max-width:700px;
	margin-left:auto;
	margin-right:auto;
}
.wwc-logo{
	display:block;
	height:119px;
}
#wwc-logo-wwc{float:left;}
#wwc-logo-sf{
	float:right; 
/** line-height for vertical alignment son **/
	line-height:150px;}

footer li a{color:#df5530; font-size:2em;}
/** see
border #df5530
text #df5530

**/



/** utility classes **/
.clearboth{clear:both; float:none;}


.embedded-content{
	background-color:#ffcb06;
	margin:10% auto;
	height:500px;
	width:800px;
}
#wwc-first{
	text-align:center;
	background:url("i/bg-section-first.png") 50% 0 no-repeat;
	padding-top:14em;
}
#wwc-first h1,#wwc-first p,#wwc-first a{}
#wwc-first p{}
#see-great-work{
	font-weight:800;
	margin:4em auto;
	position:relative; 
	display:block; 
	color:#df5530; 
	border:4px solid #df5530; 
	line-height:2.5;
	width:30%;
	text-transform:uppercase;
}
#see-great-work:before{
	content:"";
	position:absolute;
	z-index:100;
	left:43%;
	top:100%;
	height:0; 
	width:0;
	border:30px solid rgba(223, 85, 48, 0);
	border-top-color: #df5530;
}
#see-great-work:hover{
	color:#402820; 
	border-color:#402820;
}
#see-great-work:hover:before{
	border-top-color:#402820;
}
.content-list{
	padding-left:80px;
	position:relative;
}
.content-list:before{
	position:absolute;
	content:"";
	border:4px solid #df5530;
	height:40px;
	width:40px;
	top:-4px;
	left:0;
	/** df5530 **/
	z-index:100; /** square border color -> color:#df5530;  **/   
}

#wwc-tweets{
	background-color:#25305d;
}
.ref-doc-link,.wwc-blogposts-read-more{
	text-transform:uppercase;
	color:#df5530;
}
.ref-doc-link{
	position:relative;
	margin-top:1.5em;
	font-weight:800;
}
.ref-doc-link:before{
	position:absolute;
	content:"→";
	height:21px;
	width:21px;
	z-index:100;
	right:-15%;
	top:0;
	border:none;
	border-radius:100%;
	background-color:#df5530;
}
/** both will need :before + content:""; for adding arrow icons **/
footer li a{margin-bottom:30px;}
footer em{font-size:1.5em}
footer{padding-bottom:2em;}
footer li{margin-top:1em; margin-bottom:1em; font-size:1em;}



/** javascript hooks **/
.trigger{padding: 0 0 0 50px; margin: 0 0 5px 0;
  /** background:url("http://bowdenweb.com/krs1/javascript/jquery/toggle/i/h2_trigger_a.gif") no-repeat;  **/
  /** background-image:url("plus-alt-32.png"); **/


}
.trigger-active{ /** background-image:url("x-alt-32.png")  **/ background-color:#000; color:#c0c0c0; border:12px solid #0f0;}