*{margin:0; padding:0; border:none;}
html{}
body{
	color:#fff;
}
.content{
	font-family: "futura-pt", sans-serif;
	background-color:#000;
	/** put this into place prior to going live
	background-color:#e7ede4;
	**/

}
.tk-futura-pt{}
h1,h2,h3,h4{}
ul{
	list-style-type:none;
}
a{
	text-decoration:none;
	color:#fff;
}
aside{
	position:fixed;
	width:15%;
	height:100%; 
	background-color:#25305d;

}
/** logo desktop dimensions width:106px; height:121px;  **/
#logo{
	background:url("i/wwc-icon.png") 50% 50% no-repeat; 
	display:block; 
	text-indent:-9999px;
	height:200px;
}
.nav a{
	font-weight:300;
	letter-spacing:1px;
	font-family: "futura-pt-condensed", sans-serif;
	color:#fff;
	text-transform:uppercase;
	text-indent:1em;
	line-height:2.5;
	display:block;
	outline:1px dotted #fff;
	position:relative;
}
.nav a:before{
	left:100%; 
	z-index:100;
	top:0;
	position:absolute;
	border:solid transparent;
	content:"";
	height:0;
	width:0;
	pointer-events:none;
}
.nav a:hover{
	background-color:#181637; 
	color:#a44238;
}
.nav a:hover:before{
	border-left-color:#181637;
	border-width:20px;
}
.maincontent{
	width:85%;
	margin-left:15%;
	background-color:#6cc8c5;

}

header{
	background-color:#e7ede4; 
	height:45px;
}
footer{}
/** see
border #df5530
text #df5530

**/


p{}
/** gutters **/
section,footer{margin-left:2em; margin-right:4em; /** max-width:1500px; **/}
section{padding-left:100px; }
.embedded-content{
	background-color:#ffcb06;
	margin:10% auto;
	height:500px;
	width:800px;
}
iframe{
	width:90%;
	height:80%;
	border:1px solid #000;
	margin:auto;
}
section{
	padding-bottom:4em;
	border-bottom:4px solid #fff;
}
#wwc-first{
	text-align:center;
	background:url("i/bg-section-first.png") 50% 0 no-repeat;
	padding-top:14em;
}
#wwc-first h1,#wwc-first p,#wwc-first a{}
#wwc-first p{}
#see-great-work{
	font-weight:800;
	margin:4em auto;
	position:relative; 
	display:block; 
	color:#df5530; 
	border:4px solid #df5530; 
	line-height:2.5;
	width:30%;
	text-transform:uppercase;
}
#see-great-work:before{
	content:"";
	position:absolute;
	z-index:100;
	left:43%;
	top:100%;
	height:0; 
	width:0;
	border:30px solid rgba(223, 85, 48, 0);
	border-top-color: #df5530;
}
#see-great-work:hover{
	color:#402820; 
	border-color:#402820;
}
#see-great-work:hover:before{
	border-top-color:#402820;
}
.content-list{
	padding-left:80px;
	position:relative;
}
.content-list:before{
	position:absolute;
	content:"";
	border:4px solid #df5530;
	height:50px;
	width:50px;
	top:-5px;
	left:0;
	/** df5530 **/
	z-index:100; /** square border color -> color:#df5530;  **/   
}

#wwc-tweets{
	background-color:#25305d;
}
h1,h2,h3,h4,h5,h6{
	font-family: "futura-pt-condensed", sans-serif;
}
h2{
	margin-top:1.5em; 
	font-size:2.75em;
	text-align:left;
	height:100px;
	text-transform:uppercase;
}
h3{
	margin-bottom:.5em;
	font-weight:800; 
	font-size:2.5em; 
	letter-spacing:2px;
	position:relative;
}
p{
	font-size:2.2em; 
	font-weight:300;
	margin-bottom:.5em;
}
.ref-doc-link,.wwc-blogposts-read-more{
	text-transform:uppercase;
	color:#df5530;
}
.ref-doc-link{
	position:relative;
	margin-top:1.5em;
	font-weight:800;
}
.ref-doc-link:before{
	position:absolute;
	content:"→";
	height:21px;
	width:21px;
	z-index:100;
	right:-15%;
	top:0;
	border:none;
	border-radius:100%;
	background-color:#df5530;
}
/** both will need :before + content:""; for adding arrow icons **/





/** javascript hooks **/
.trigger{padding: 0 0 0 50px; margin: 0 0 5px 0;
  /** background:url("http://bowdenweb.com/krs1/javascript/jquery/toggle/i/h2_trigger_a.gif") no-repeat;  **/
  /** background-image:url("plus-alt-32.png"); **/


}
.trigger-active{ /** background-image:url("x-alt-32.png")  **/ background-color:#000; color:#c0c0c0; border:12px solid #0f0;}