/** 
html {
  font-size: 10px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
  background-color: #ffffff;
}
a:hover,
a:focus {
  color: #23527c;
  text-decoration: underline;
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.img-rounded {
  border-radius: 6px;
}
.img-thumbnail {
  padding: 4px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  max-width: 100%;
  height: auto;
}
.img-circle {
  border-radius: 50%;
}

**/

/** wwc uses versus text-transform:uppercase; **/

/**
{text-transform:capitalize;}
**/
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */

html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/**
 * Remove default margin.
 */

body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */

/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */

audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */

[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */

a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */

abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */

b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */

dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */

h1 {
  font-size: 2em;
}

/**
 * Address styling not present in IE 8/9.
 */

mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */

/**
 * Address margin not present in IE 8/9 and Safari.
 */

figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */

hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */

pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */

button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */

button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */

input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  box-sizing: content-box; /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */

textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */

optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */

/**
 * Remove most spacing between table cells.
 */

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}








*{margin:0; padding:0; border:none;}

html{}
body{
	color:#fff;
}
.content{
	font-family: "futura-pt", sans-serif;
	background-color:#25305d;
	/** background-color:#000; **/
	/** put this into place prior to going live
	background-color:#e7ede4;
	**/
}
h1,h2,h3,h4,h5,h6{
	font-family: "futura-pt-condensed", sans-serif;
}
h2{
	margin-top:1.5em;
	font-size:2.75em;
	line-height:80px;
	text-align:left;
	height:80px;
	text-transform:uppercase;
}
h2 a{display:block; /** padding-left:12%; **/ padding-left:12%;}
h3{
	margin-bottom:.5em;
	font-weight:800; 
	font-size:2.5em; 
	letter-spacing:2px;
	position:relative;
	padding-left:20%;
}
p{
	font-size:2.2em; 
	font-weight:300;
	margin-bottom:.5em;
}
ul{
	list-style-type:none;
}
a{
	text-decoration:none;
	color:#fff;
}
aside{
	position:fixed;
	width:15%;
	height:100%; 
	background-color:#25305d;

}
header{
	background-color:#e7ede4; 
	height:45px;
}
footer{text-align:center;}



/** gutters **/
section,footer{/** max-width:1500px; **/}
section{}
section{
	padding-bottom:4em;
	border-bottom:4px solid #fff;
	background-repeat:no-repeat;
	background-position:5% 0;
}
section#wwc-blogposts,section#wwc-promote-work,section#wwc-about,section#wwc-map{border-bottom:none;}
#wwc-define-goals{background-image:url("i/icons/icon-05a.png");}
#wwc-engage-stakeholders{background-image:url("i/icons/icon-03a.png");}
#wwc-craft-policy{background-image:url("i/icons/icon-02a.png");}
#wwc-implement{background-image:url("i/icons/icon-00a.png");}
#wwc-promote-work{background-image:url("i/icons/icon-06a.png");}
#wwc-about{background-image:url("i/icons/icon-04a.png");}
#logo{
	/** 106x120 **/
	background:url("i/wwc-sunlight-foundation-logo-106x120.png") 50% 50% no-repeat; 
	display:block; 
	text-indent:-9999px;
	height:200px;
}
.nav a{
	font-weight:300;
	letter-spacing:1px;
	font-family: "futura-pt-condensed", sans-serif;
	color:#fff;
	text-transform:uppercase;
	text-indent:1.5em;
	line-height:2.5;
	display:block;
	position:relative;
}
.nav a:before{
	left:100%; 
	z-index:100;
	top:0;
	position:absolute;
	border:solid transparent;
	content:"";
	height:0;
	width:0;
	pointer-events:none;
}
.nav a:hover{
	background-color:#181637; 
	color:#a44238;
}
.nav a:hover:before{
	border-left-color:#181637;
	border-width:20px;
}
.maincontent{
	width:85%;
	margin-left:15%;
	background-color:#6cc8c5;

}
.wwc-logo-headliner{
	/** width for containment....may not be needed... **/
	max-width:700px;
	margin-left:auto;
	margin-right:auto;
}
.wwc-logo{
	display:block;
	height:119px;
}
#wwc-logo-wwc{float:left;}
#wwc-logo-sf{
	float:right; 
/** line-height for vertical alignment son **/
	line-height:150px;}

footer li a{color:#df5530; font-size:2em;}
/** see
border #df5530
text #df5530

**/



/** utility classes **/
.clearboth{clear:both; float:none;}
.clearleft{clear:left; float:none;}
.clearright{clear:right; float:none;}

#wwc-first{
	text-align:center;
	background:url("i/bg-section-first.png") 50% 0 no-repeat;
	padding-top:14em;
}
#see-great-work{
	font-weight:800;
	margin:4em auto;
	position:relative; 
	display:block; 
	color:#df5530; 
	border:4px solid #df5530; 
	line-height:2.5;
	width:30%;
	text-transform:uppercase;
}
#see-great-work:before{
	content:"";
	position:absolute;
	z-index:100;
	left:43%;
	top:100%;
	height:0; 
	width:0;
	border:30px solid rgba(223, 85, 48, 0);
	border-top-color: #df5530;
}
#see-great-work:hover{
	color:#402820; 
	border-color:#402820;
}
#see-great-work:hover:before{
	border-top-color:#402820;
}
.content-list{
	width:100%;
	position:relative;
}
.content-list:before{}
.content-list p{margin-left:20%; margin-right:10%;}
.li-header{margin-top:30px; position:relative;}
.li-header:before{
	position:absolute;
	content:"";
	border:4px solid #df5530;
	height:50px;
	width:50px;
	top:-4px;
	left:12%;
	z-index:100;
}
#wwc-tweets{
	background-color:#25305d;
}







.embedded-content{
	position:relative;
	background-color:#ffcb06;
	margin:10% auto;
	padding-top:6em;
	padding-bottom:6em;
	width:100%;
}
.ref-doc{
	width:60%;
	height:800px;
	max-height:800px;
	padding:1px;
	background-color:#fff;
	border:3px solid #000;
	margin:0 20%;
}
.ref-doc-link,.wwc-blogposts-read-more,.ref-doc-google-link{
	text-transform:uppercase;
	color:#df5530;
}
.ref-doc-link{
	width:80%; margin-left:20%; display:block;
	margin-top:1.5em;
	font-weight:800;
}
.ref-doc-google-link{
	display:block;
	position:absolute; 
	top:2em;
	right:20%;
}
/**
.ref-doc-link:before{
	position:absolute;
	content:"→";
	height:21px;
	width:21px;
	z-index:100;
	right:-15%;
	top:0;
	border:none;
	border-radius:100%;
	background-color:#df5530;
}
**/
/** both will need :before + content:""; for adding arrow icons **/
footer li a{margin-bottom:30px;}
footer em{font-size:1.5em}
footer{padding-bottom:2em;}
footer li{margin-top:1em; margin-bottom:1em; font-size:1em;}

#wwc-blogposts .section-box{}
#wwc-blogposts .section-box-01{background-color:#fff; padding:25px}
#wwc-blogposts h2{background-color:#25305d; text-indent:1em;}
#wwc-blogposts-all{
	margin-top:-68px; margin-right:15px; font-size:30px; float:right; display:block; border:3px solid #df5530; text-indent:0; text-align:center; color:#df5530; line-height:30px;
padding:10px;}
#wwc-blogposts h3{}
/** javascript hooks **/
.trigger{
  /** background:url("http://bowdenweb.com/krs1/javascript/jquery/toggle/i/h2_trigger_a.gif") no-repeat;  **/
  /** background-image:url("plus-alt-32.png"); **/


}
.trigger-active{ /** background-image:url("x-alt-32.png")  **/ background-color:#000; color:#c0c0c0; border:12px solid #0f0;}

/** feed display **/
span.read-more{}
#rss-feed-viewer{height:100px;} /** height for bg color with floating elements **/
h3.wwc-blog-post-title{float:left; width:33%; font-size:1.25em;}
h3.wwc-blog-post-title a{color:#000; font-weight:300;}
.wwc-blogposts-read-more{font-weight:700; position:relative;}
.wwc-blogposts-read-more:before{
	content:"";
	position:absolute;

}

.leaflet-popup-content{color:#000;}

/** css animations/transformations **/
/** :target animation of logo **/
@-webkit-keyframes target {
  from { background:#ffffff; }
  50% { background:#ffffd3; }
  to { background:#ffffff; }
}
#logo:target{
border:10px solid #9f8b5e;    
-webkit-animation:target .5s linear; -moz-animation:target .5s linear; -animation:target .5s linear; 
-webkit-animation-duration:.5s; -moz-animation-duration:.5s; -animation-duration:.5s;
-webkit-animation-iteration-count:1; -moz-animation-iteration-count:1; -animation-iteration-count:1;
-webkit-animation-direction:linear; -moz-animation-direction:linear; -animation-direction:linear;
}




section h2{
-webkit-transition: color 0.5s ease;
    -moz-transition: color 0.5s ease;
    -o-transition: color 0.5s ease;
    -ms-transition: color 0.5s ease;
    transition: color 0.5s ease;
}
section h2{
  /**
    font-size: 50px;
    text-decoration: underline;
    color: #37aee4;
 **/ }

@media screen and (max-width: 480px) {
	section{padding-left:0; margin-left:0; margin-right:0; background-position:10px 0;}
	aside{position:relative; width:100%;}
	aside a{text-align:center;}


	h1{margin:0;}


    header,.branding-bar{max-height:45px; overflow:hidden;}
    h1{position:relative;} /** to get point down from top...this is not ideal...do not push to production **/

    #logo{height:120px; 
    	position:absolute; 
    	width:100%;
    	margin-left:-50%;
    	top:10px; 
    	left:50%;
    }
	aside{height:100px; margin-top:-45px; /** hide branding bar **/  }
	nav{height:48px; width:48px; position:absolute; top:10px; right:10px; outline:1px solid #fff; background-color:#666;
		cursor:pointer;
	}
	nav li{display:none;}







	.maincontent{width:100%; margin-left:0;}
	h1{font-size:30px;}
	p{font-size:22px; padding-left:20px; padding-right:20px;}
	#see-great-work{width:90%; font-size:15px;}
	h2{margin-left:80px; font-size:25px;}
	.content-list{position:relative; padding-top:20px;}

.li-header:before{top:0; left:-55px; height:30px; width:30px;}
h3{font-size:25px;}
section p{padding:0; }
.trigger{padding-left:0;}
#wwc-blogposts h2{margin-left:0; text-indent:0;}
#wwc-blogposts{position:relative;}
#wwc-blogposts-all{margin:0; position:absolute; bottom:20px; left:30%;}
.section-box-01{height:200px;}
.section-box-01 h3{float:none; clear:left; width:100%; margin-left:10px; margin-right:10px;}
#wwc-blogposts{background-color:#fff;}
#wwc-about .content-list:before{border-color:transparent;}
#wwc-logo-wwc{float:none; height:106px;}
#wwc-logo-sf{height:106px;
	float:none; 
/** line-height for vertical alignment son **/
	line-height:150px;}
#wwc-about{padding-bottom:0;}
footer li a{margin-bottom:10px; font-size:20px;}
}